.comments {
  margin: 1rem 0;
  background-color: $primaryColor;
  border: 1px solid $borderColor;
  width: 38rem;
  border-radius: 0.4rem;
  padding: 1.4rem;

  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  @include mobile {
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 1rem;
  }
}

.comment {
  // margin: 1rem 1.6rem;
  font-size: 0.9rem;
  align-items: flex-start;
  // flex-direction: column;
  // border: 2px solid blue;
  @include mobile {
  }
  .comment__user {
    img {
      height: 2.4rem;
      width: 2.4rem;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .icon {
    margin: 0 0.4rem;
    font-size: 1rem;
  }
}

.comment__container {
  margin-left: 0.5rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  background-color: $gray-300;
  border-radius: 6px;
  h4 {
    font-weight: 600;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }
  .body {
    font-size: 0.85rem;
    // max-width: 100%;
    display: inline-block;
    height: auto;
    position: relative;
    word-wrap: break-word;
  }
  .likes {
    margin-top: 0.5rem;
  }
}

.comment__timestamp{
  margin-left: 0.6rem;
  font-size: 0.8rem;
  color: $gray-900;
  font-weight: 600;
  
}


.replies {
  position: relative;
  padding: 1rem 0;
  margin-left: 3rem;
  // padding-left: 2rem;
  // border: 2px solid red;
  .comment {
    margin-top: 0;
  }
}
.left-border {
  position: absolute;
  width: 3px;
  margin-bottom: 1rem;
  inset: 0;
  background-color: $borderColor;
  top: 4rem;
  left: 1rem;
}

.comment__action-triggers {
  // border: 2px solid red;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  .action {
    margin-top: 0.2rem;
    margin-right: 1rem;
    cursor: pointer;
    span {
      font-size: 0.9rem;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
}

.comments-container {
  // border: 2px solid red;
  position: relative;
}

.postpage__all-comments {
}

.comment__create-comment {
  // height: 4rem;
  margin-top: 0.4rem;
  margin-left: 3rem;
  border: 1px solid $borderColor;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.create-comment__form {
  display: flex;
  flex-direction: column;
  textarea {
    border: 1px solid $borderColor;
    border-radius: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    height: 8rem;
  }
  button {
    margin-top: 0.4rem;
    width: 10rem;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: $accentColor;
    color: $white;
  }
}

.post-page__create-comment {
  border-radius: 4px;
  border: 1px solid $borderColor;
  position: relative;
  align-items: center;
  margin-top: 1rem;
  background: $primaryColor;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  h4 {
    margin-bottom: 1rem;
  }
  .create-comment_btn{
    margin-top: 1rem;
  }
}
