.post {
  padding: 1.6rem 2rem;
  padding-bottom: 1rem;
  background-color: $primaryColor;
  width: 38rem;
  margin: 1rem auto;
  border-radius: 6px;
  border: 1.5px solid $borderColor;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  .ant-image-mask {
    border-radius: 6px;
  }
  @include mobile {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 0;
    border: 0;
  }
}
.post__dropdown {
  border: 1px solid $borderColor;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.post__user {
  font-family: $headingFont;
  @include mobile {
    padding: 0 0.6rem;
  }
  .username {
    font-weight: 600;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }
  .timestamp {
    font-weight: 500;
    // opacity: 0.7;
    font-size: 0.8rem;
    color: $lightTextColor;
  }
}

.userImg {
  height: 56px;
  width: 56px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 1rem;
}
.post__content {
  word-wrap: break-word;
  margin: 1rem 0;
  cursor: pointer;
  @include mobile {
    padding: 0 0.6rem;
  }
}
.post__img {
  width: 34rem;
  height: 300px;
  object-fit: cover;
  margin: 0;
  border-radius: 6px;
  cursor: pointer;
  @include mobile {
    width: 100vw;
    max-height: 220px;
    border-radius: 0px;
  }
}

// Post meta

.post__stats {
  margin-top: 1rem;
  // border: 2px solid red;
  height: 2rem;
  @include mobile {
    padding: 0 0.6rem;
  }
  div {
    margin-right: 0.6rem;
    width: fit-content;
    .icon-filled {
      color: $accentColor;
    }
    .data {
      font-size: 0.9rem;
      color: $lightTextColor;
      margin-right: 0.4rem;
      margin-left: 0.4rem;
    }
  }
  .anticon {
    font-size: 1.2rem;
  }
}

.like-group {
  margin: 0 0.2rem !important;
  margin-left: 1rem;
  .like-group__avatar {
    border: 2px solid $white;
    // border: 0;
  }
}

.post-skeleton {
  height: fit-content;
  @extend .post;

  .avatar {
    @include mobile {
      padding: 0 0.6rem;
    }
  }
  .name {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    @include mobile {
      margin-left: 0;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    @include mobile {
      padding: 0 0.6rem;
    }
  }
  .image {
    // height: 300px;
    width: 100%;
    margin-top: 1rem;
    .ant-skeleton,
    .ant-skeleton-image {
      height: 300px;
      width: 100%;
      @include mobile {
        width: 100vw;
        max-height: 220px;
        border-radius: 0px;
      }
    }
  }
}

.empty-posts {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
