.chat-message {
  max-width: fit-content;
  width: 80%;
  margin: 0.8rem 0;
  display: flex;
  align-items: flex-start;
  // border: 2px solid blue;
  .message {
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    background-color: $primaryColor;
    box-shadow: 0px 0.2rem 0.8rem #c4c4c4;
    min-width: 6rem;
    span {
      font-size: 0.7rem;
      display: block;
      font-family: $headingFont;
      text-transform: capitalize;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
    @include mobile {
      font-size: 0.9rem;
      padding: 0.6rem 1rem;
    }
  }
  .user-image {
    height: 2.6rem;
    width: 2.6rem;
    border: 1px solid $white;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $accentColor;
    @include mobile {
      height: 2rem;
      width: 2rem;
    }
  }
}

.chat-message {
  @include mobile {
    width: 90%;
  }
}

.message-sent {
  align-self: flex-end;

  .message {
    // order: 1;
    background-color: $accentColor;
    color: #f2f2f2;
    border-top-right-radius: 0;
  }
}
.message-received {
  .message {
    order: 2;
    background-color: $primaryColor;
    margin-left: 1rem;
    border-top-left-radius: 0;
  }
  .user-image {
    order: 1;
  }
}
