.chat-window {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  scroll-behavior: smooth;
  height: calc(100% - 7.6rem);

  @include mobile {
    // padding-bottom: 4rem;
    // border: 2px solid red;
    // height: 100%;
  }
}

.chat-window__go-down {
  position: fixed;
  font-size: 1rem;
  bottom: 7rem;
  right: 3rem;
  background-color: #ff6f00;
  color: $white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: none;
  transform: rotateZ(90deg);
}
.chat-window__go-down.active {
  display: flex;
  @include mobile {
    display: none;
  }
}
