.home {
  position: relative;
  .home__sideNav-wrapper {
    width: 25%;
    position: fixed;
    top: 6rem;
    left: 0;
    @include mobile {
      display: none;
    }
  }
  .home__feed {
    margin-left: 25%;
    // border: 2px solid red;
    @include mobile {
      width: 100%;
      margin: 0;
    }
  }
}

.home__feed-banner {
  padding: 1rem;
  background-color: $primaryColor;
  width: 38rem;
  margin: 1rem auto;
  border-radius: 6px;
  border: 1.5px solid $borderColor;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  p {
    font-weight: 600;
  }
  ul {
    margin-left: 1rem;
  }
  li {
    margin: 0.4rem;
    position: relative;
    &::before {
      content: "🔥";
      position: absolute;
      left: -1.4rem;
    }
  }
  @include mobile {
    width: 100%;
    border-radius: 0;
    border: 0;
  }
}
